POS EDC BCA Full Source/Services/Services/IPMS_Custom/Service References/GME_VoucherAIFPROD/TBS_AifVoucherSvcGroup21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TBS_AifVoucherSvcGroup" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_TBS_AifVoucherSvc_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://tempuri.org" location="http://192.168.0.71:8102/DynamicsAx/Services/TBS_AifVoucherSvcGroup?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="NetTcpBinding_TBS_AifVoucherSvc" type="i0:TBS_AifVoucherSvc">
    <wsp:PolicyReference URI="#NetTcpBinding_TBS_AifVoucherSvc_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="getVoucherType">
      <soap12:operation soapAction="http://tempuri.org/TBS_AifVoucherSvc/getVoucherType" style="document" />
      <wsdl:input name="TBS_AifVoucherSvcGetVoucherTypeRequest">
        <soap12:header message="i0:TBS_AifVoucherSvcGetVoucherTypeRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="TBS_AifVoucherSvcGetVoucherTypeResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="lookup">
      <soap12:operation soapAction="http://tempuri.org/TBS_AifVoucherSvc/lookup" style="document" />
      <wsdl:input name="TBS_AifVoucherSvcLookupRequest">
        <soap12:header message="i0:TBS_AifVoucherSvcLookupRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="TBS_AifVoucherSvcLookupResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="readVoucherLine">
      <soap12:operation soapAction="http://tempuri.org/TBS_AifVoucherSvc/readVoucherLine" style="document" />
      <wsdl:input name="TBS_AifVoucherSvcReadVoucherLineRequest">
        <soap12:header message="i0:TBS_AifVoucherSvcReadVoucherLineRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="TBS_AifVoucherSvcReadVoucherLineResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="redeem">
      <soap12:operation soapAction="http://tempuri.org/TBS_AifVoucherSvc/redeem" style="document" />
      <wsdl:input name="TBS_AifVoucherSvcRedeemRequest">
        <soap12:header message="i0:TBS_AifVoucherSvcRedeemRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="TBS_AifVoucherSvcRedeemResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="readVoucherTable">
      <soap12:operation soapAction="http://tempuri.org/TBS_AifVoucherSvc/readVoucherTable" style="document" />
      <wsdl:input name="TBS_AifVoucherSvcReadVoucherTableRequest">
        <soap12:header message="i0:TBS_AifVoucherSvcReadVoucherTableRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="TBS_AifVoucherSvcReadVoucherTableResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="activate">
      <soap12:operation soapAction="http://tempuri.org/TBS_AifVoucherSvc/activate" style="document" />
      <wsdl:input name="TBS_AifVoucherSvcActivateRequest">
        <soap12:header message="i0:TBS_AifVoucherSvcActivateRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="TBS_AifVoucherSvcActivateResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TBS_AifVoucherSvcGroup">
    <wsdl:port name="NetTcpBinding_TBS_AifVoucherSvc" binding="tns:NetTcpBinding_TBS_AifVoucherSvc">
      <soap12:address location="net.tcp://192.168.0.71:8202/DynamicsAx/Services/TBS_AifVoucherSvcGroup" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.0.71:8202/DynamicsAx/Services/TBS_AifVoucherSvcGroup</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ax-prod@THEBODYSHOP.CO.ID</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>