POS EDC BCA Full Source/Services/Services/IPMS_Custom/Service References/GME_VoucherAIFPROD/TBS_AifVoucherSvcGroup81.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.71:8102/DynamicsAx/Services/TBS_AifVoucherSvcGroup?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" />
  <xs:element name="TBS_AifVoucherSvcGetVoucherTypeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_voucherCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_siteId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TBS_AifVoucherSvcGetVoucherTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q1:ArrayOfTBS_Voucher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TBS_AifVoucherSvcLookupRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_voucherCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_siteId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TBS_AifVoucherSvcLookupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q2:ArrayOfTBS_Voucher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TBS_AifVoucherSvcReadVoucherLineRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_kodeVoucherProgram" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TBS_AifVoucherSvcReadVoucherLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q3:ArrayOfTBS_VoucherLineModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TBS_AifVoucherSvcRedeemRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_voucherCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_siteId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TBS_AifVoucherSvcRedeemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q4:ArrayOfTBS_Voucher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TBS_AifVoucherSvcReadVoucherTableRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_kodeVoucherProgram" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TBS_AifVoucherSvcReadVoucherTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q5:ArrayOfTBS_VoucherModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TBS_AifVoucherSvcActivateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_voucherCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_siteId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TBS_AifVoucherSvcActivateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q6:ArrayOfTBS_Voucher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>