POS EDC BCA Full Source/Services/Services/IPMS_Custom/Service References/GME_EngageServices/loyaltyws.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://falsolutions.com/loyalty" targetNamespace="http://falsolutions.com/loyalty" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="createIdentifier" type="tns:createIdentifier" />
  <xs:element name="createIdentifierResponse" type="tns:createIdentifierResponse" />
  <xs:element name="deleteIdentifier" type="tns:deleteIdentifier" />
  <xs:element name="deleteIdentifierResponse" type="tns:deleteIdentifierResponse" />
  <xs:element name="findHouseholdsByInfo" type="tns:findHouseholdsByInfo" />
  <xs:element name="findHouseholdsByInfoResponse" type="tns:findHouseholdsByInfoResponse" />
  <xs:element name="findIdentifiersByInfo" type="tns:findIdentifiersByInfo" />
  <xs:element name="findIdentifiersByInfoResponse" type="tns:findIdentifiersByInfoResponse" />
  <xs:element name="findPersonsByInfo" type="tns:findPersonsByInfo" />
  <xs:element name="findPersonsByInfoResponse" type="tns:findPersonsByInfoResponse" />
  <xs:element name="generateHouseHoldNumber" type="tns:generateHouseHoldNumber" />
  <xs:element name="generateHouseHoldNumberResponse" type="tns:generateHouseHoldNumberResponse" />
  <xs:element name="getBalances" type="tns:getBalances" />
  <xs:element name="getBalancesResponse" type="tns:getBalancesResponse" />
  <xs:element name="getContactability" type="tns:getContactability" />
  <xs:element name="getContactabilityResponse" type="tns:getContactabilityResponse" />
  <xs:element name="getCustomerHistory" type="tns:getCustomerHistory" />
  <xs:element name="getCustomerHistoryResponse" type="tns:getCustomerHistoryResponse" />
  <xs:element name="getHouseHold" type="tns:getHouseHold" />
  <xs:element name="getHouseHoldResponse" type="tns:getHouseHoldResponse" />
  <xs:element name="getIdentifier" type="tns:getIdentifier" />
  <xs:element name="getIdentifierResponse" type="tns:getIdentifierResponse" />
  <xs:element name="getPerson" type="tns:getPerson" />
  <xs:element name="getPersonResponse" type="tns:getPersonResponse" />
  <xs:element name="getTransactionDetails" type="tns:getTransactionDetails" />
  <xs:element name="getTransactionDetailsResponse" type="tns:getTransactionDetailsResponse" />
  <xs:element name="getTransactionHistoryHeader" type="tns:getTransactionHistoryHeader" />
  <xs:element name="getTransactionHistoryHeaderResponse" type="tns:getTransactionHistoryHeaderResponse" />
  <xs:element name="getValidVouchersForCard" type="tns:getValidVouchersForCard" />
  <xs:element name="getValidVouchersForCardResponse" type="tns:getValidVouchersForCardResponse" />
  <xs:element name="getVersionInfo" type="tns:getVersionInfo" />
  <xs:element name="getVersionInfoResponse" type="tns:getVersionInfoResponse" />
  <xs:element name="mergeHouseholds" type="tns:mergeHouseholds" />
  <xs:element name="mergeHouseholdsResponse" type="tns:mergeHouseholdsResponse" />
  <xs:element name="mergePersons" type="tns:mergePersons" />
  <xs:element name="mergePersonsResponse" type="tns:mergePersonsResponse" />
  <xs:element name="renameIdentifier" type="tns:renameIdentifier" />
  <xs:element name="renameIdentifierResponse" type="tns:renameIdentifierResponse" />
  <xs:element name="splitPerson" type="tns:splitPerson" />
  <xs:element name="splitPersonResponse" type="tns:splitPersonResponse" />
  <xs:element name="updateContactability" type="tns:updateContactability" />
  <xs:element name="updateContactabilityResponse" type="tns:updateContactabilityResponse" />
  <xs:element name="updateHouseHold" type="tns:updateHouseHold" />
  <xs:element name="updateHouseHoldResponse" type="tns:updateHouseHoldResponse" />
  <xs:element name="updateIdentifier" type="tns:updateIdentifier" />
  <xs:element name="updateIdentifierResponse" type="tns:updateIdentifierResponse" />
  <xs:element name="updatePerson" type="tns:updatePerson" />
  <xs:element name="updatePersonResponse" type="tns:updatePersonResponse" />
  <xs:element name="updateUserAccess" type="tns:updateUserAccess" />
  <xs:element name="updateUserAccessResponse" type="tns:updateUserAccessResponse" />
  <xs:complexType name="updateHouseHold">
    <xs:sequence>
      <xs:element minOccurs="0" name="houseHold" type="tns:updateHouseHoldDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateHouseHoldDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseRequestDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="houseHold" type="tns:houseHoldDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="baseRequestDTO">
    <xs:sequence>
      <xs:element name="companyId" type="xs:int" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="userCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="houseHoldDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="addedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="address1" type="xs:string" />
      <xs:element minOccurs="0" name="address2" type="xs:string" />
      <xs:element minOccurs="0" name="address3" type="xs:string" />
      <xs:element minOccurs="0" name="address4" type="xs:string" />
      <xs:element minOccurs="0" name="city" type="xs:string" />
      <xs:element minOccurs="0" name="cnilCode" type="xs:string" />
      <xs:element minOccurs="0" name="country" type="xs:string" />
      <xs:element minOccurs="0" name="countryCode" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="faxNumber" type="xs:string" />
      <xs:element minOccurs="0" name="homePhone" type="xs:string" />
      <xs:element minOccurs="0" name="homePhone2" type="xs:string" />
      <xs:element minOccurs="0" name="houseHoldContactability" type="tns:houseHoldContactabilityStatusDTO" />
      <xs:element minOccurs="0" name="houseHoldId" type="xs:decimal" />
      <xs:element minOccurs="0" name="houseNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="personList" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="state" type="xs:string" />
      <xs:element name="status" type="xs:short" />
      <xs:element minOccurs="0" name="storeNumber" type="xs:string" />
      <xs:element name="streetType" type="xs:int" />
      <xs:element minOccurs="0" name="supplementalInfo" type="tns:supplementalInfoDTO" />
      <xs:element minOccurs="0" name="zip" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="houseHoldContactabilityStatusDTO">
    <xs:sequence>
      <xs:element name="addressValidationStatus" type="xs:short" />
      <xs:element name="attribute1" type="xs:short" />
      <xs:element name="attribute2" type="xs:short" />
      <xs:element minOccurs="0" name="ctyFlag" type="xs:string" />
      <xs:element minOccurs="0" name="lastError" type="xs:dateTime" />
      <xs:element minOccurs="0" name="lastValidation" type="xs:dateTime" />
      <xs:element name="postalErrors" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="supplementalInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="info" nillable="true" type="tns:supplInfoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="supplInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string" />
      <xs:element minOccurs="0" name="value" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateHouseHoldResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="UpdateHouseHoldResponse" type="tns:baseResponseDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="baseResponseDTO">
    <xs:sequence>
      <xs:element name="errorCode" type="xs:int" />
      <xs:element minOccurs="0" name="errorMessage" type="xs:string" />
      <xs:element minOccurs="0" name="lngCode" type="xs:string" />
      <xs:element name="success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updatePerson">
    <xs:sequence>
      <xs:element minOccurs="0" name="person" type="tns:updatePersonDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updatePersonDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseRequestDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="person" type="tns:personDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="personDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="addedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="birthDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="cellPhone" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" type="xs:string" />
      <xs:element minOccurs="0" name="gender" type="xs:string" />
      <xs:element minOccurs="0" name="houseHoldId" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="identifierList" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="initDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="language" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" type="xs:string" />
      <xs:element minOccurs="0" name="middleName" type="xs:string" />
      <xs:element minOccurs="0" name="personContactabilityStatus" type="tns:personContactabilityStatusDTO" />
      <xs:element minOccurs="0" name="personId" type="xs:decimal" />
      <xs:element name="persontypeId" type="xs:short" />
      <xs:element minOccurs="0" name="pin" type="xs:string" />
      <xs:element name="status" type="xs:short" />
      <xs:element minOccurs="0" name="supplementalInfo" type="tns:supplementalInfoDTO" />
      <xs:element name="title" type="xs:short" />
      <xs:element minOccurs="0" name="titleStr" type="xs:string" />
      <xs:element name="type" type="xs:short" />
      <xs:element minOccurs="0" name="validityDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personContactabilityStatusDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="attrib1" type="xs:short" />
      <xs:element minOccurs="0" name="attrib2" type="xs:short" />
      <xs:element minOccurs="0" name="bouncedEmailDate" type="xs:dateTime" />
      <xs:element name="bouncedEmailHard" type="xs:short" />
      <xs:element name="bouncedEmailSoft" type="xs:short" />
      <xs:element name="bouncedSms" type="xs:short" />
      <xs:element minOccurs="0" name="bouncedSmsDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="quarantine" type="xs:short" />
      <xs:element name="spamFlag" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updatePersonResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="UpdatePersonResponse" type="tns:baseResponseDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getBalances">
    <xs:sequence>
      <xs:element minOccurs="0" name="houseHoldId" type="tns:houseHoldId" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="houseHoldId">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseRequestDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="houseHoldId" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="getBalancesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="BalanceResponse" type="tns:balanceDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="balanceDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseResponseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="totals" nillable="true" type="tns:totalsDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="totalsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="expiration" nillable="true" type="tns:expirationDTO" />
      <xs:element minOccurs="0" name="key" type="xs:string" />
      <xs:element minOccurs="0" name="period" type="xs:string" />
      <xs:element minOccurs="0" name="totalDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="updatedDate" type="xs:dateTime" />
      <xs:element name="value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="expirationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="expirationDate" type="xs:dateTime" />
      <xs:element name="value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getHouseHold">
    <xs:sequence>
      <xs:element minOccurs="0" name="houseHoldId" type="tns:houseHoldId" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getHouseHoldResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="HouseHoldResponse" type="tns:houseHoldResponseDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="houseHoldResponseDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseResponseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="houseHold" type="tns:houseHoldDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="mergePersons">
    <xs:sequence>
      <xs:element minOccurs="0" name="mergePersonId" type="tns:mergePersonId" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mergePersonId">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseRequestDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="sourcePersonId" type="xs:decimal" />
          <xs:element minOccurs="0" name="targetPersonId" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="mergePersonsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="MergePersonsResponse" type="tns:baseResponseDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generateHouseHoldNumber">
    <xs:sequence>
      <xs:element minOccurs="0" name="generateHouseHoldNumberId" type="tns:generateHouseHoldNumberId" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generateHouseHoldNumberId">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseRequestDTO">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="generateHouseHoldNumberResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="GenerateHouseHoldNumberResponse" type="tns:generateHouseHoldNumberResponseDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generateHouseHoldNumberResponseDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseResponseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="houseHoldId" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="splitPerson">
    <xs:sequence>
      <xs:element minOccurs="0" name="splitPersonId" type="tns:splitPersonId" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="splitPersonId">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseRequestDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="sourcePersonId" type="xs:decimal" />
          <xs:element minOccurs="0" name="targetHouseholdId" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="splitPersonResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="SplitPersonResponse" type="tns:baseResponseDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getIdentifier">
    <xs:sequence>
      <xs:element minOccurs="0" name="identifierId" type="tns:identifierId" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="identifierId">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseRequestDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="identifier" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="getIdentifierResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdentifierResponse" type="tns:identifierResponseDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="identifierResponseDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseResponseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="identifier" type="tns:identifierDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="identifierDTO">
    <xs:sequence>
      <xs:element name="allowBurn" type="xs:boolean" />
      <xs:element name="allowEarn" type="xs:boolean" />
      <xs:element name="cardType" type="xs:short" />
      <xs:element minOccurs="0" name="createDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="expirationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="firstUsage" type="xs:dateTime" />
      <xs:element minOccurs="0" name="identifierCode" type="xs:string" />
      <xs:element minOccurs="0" name="personId" type="xs:decimal" />
      <xs:element name="status" type="xs:short" />
      <xs:element minOccurs="0" name="supplementalInfo" type="tns:supplementalInfoDTO" />
      <xs:element name="typeOfIdentifier" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getContactability">
    <xs:sequence>
      <xs:element minOccurs="0" name="personId" type="tns:personId" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personId">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseRequestDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="personId" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="getContactabilityResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactabilityResponse" type="tns:contactabilityResponseDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contactabilityResponseDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseResponseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="contactability" type="tns:contactabilityDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="contactabilityDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="commTypes" nillable="true" type="tns:commTypeDTO" />
      <xs:element minOccurs="0" name="personId" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="commTypeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="commOptions" nillable="true" type="tns:commOption" />
      <xs:element minOccurs="0" name="commTypeDescription" type="xs:string" />
      <xs:element name="communicationType" type="xs:int" />
      <xs:element name="subscription" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="commOption">
    <xs:sequence>
      <xs:element minOccurs="0" name="commOptionDescription" type="xs:string" />
      <xs:element name="communicationOption" type="xs:int" />
      <xs:element name="optin" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCustomerHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="customerHistoryId" type="tns:customerHistoryId" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customerHistoryId">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseRequestDTO">
        <xs:sequence>
          <xs:element name="daysInPast" type="xs:int" />
          <xs:element minOccurs="0" name="houseHoldId" type="xs:decimal" />
          <xs:element minOccurs="0" name="identifier" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="getCustomerHistoryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerHistoryResponse" type="tns:customerHistoryDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customerHistoryDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseResponseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="logHistory" nillable="true" type="tns:logHeaderDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="logHeaderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="binId" type="xs:short" />
      <xs:element minOccurs="0" name="burnAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="cardNo" type="xs:decimal" />
      <xs:element minOccurs="0" name="cstCode" type="xs:decimal" />
      <xs:element minOccurs="0" name="currencyCode" type="xs:string" />
      <xs:element minOccurs="0" name="earnAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="idCode" type="xs:string" />
      <xs:element minOccurs="0" name="logAgregdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="logAgrqte" type="xs:short" />
      <xs:element minOccurs="0" name="logAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="logAnalysis" type="xs:short" />
      <xs:element name="logAudit" type="xs:long" />
      <xs:element minOccurs="0" name="logBatchflagexp" type="xs:boolean" />
      <xs:element minOccurs="0" name="logBatchseqexp" type="xs:int" />
      <xs:element minOccurs="0" name="logBatchseqimp" type="xs:int" />
      <xs:element minOccurs="0" name="logCancel" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="logDetails" nillable="true" type="tns:logDetailDTO" />
      <xs:element minOccurs="0" name="logFlagadv" type="xs:boolean" />
      <xs:element minOccurs="0" name="logFlagdif" type="xs:boolean" />
      <xs:element minOccurs="0" name="logFlagvoucher" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="logLoyalty" nillable="true" type="tns:logLoyaltyDTO" />
      <xs:element minOccurs="0" name="logNbdetail" type="xs:short" />
      <xs:element minOccurs="0" name="logNbloy" type="xs:short" />
      <xs:element minOccurs="0" name="logOpe" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="logPayments" nillable="true" type="tns:logPaymentDTO" />
      <xs:element minOccurs="0" name="logPoints" type="xs:decimal" />
      <xs:element minOccurs="0" name="logRemise" type="xs:decimal" />
      <xs:element minOccurs="0" name="logTerminal" type="xs:string" />
      <xs:element minOccurs="0" name="logTpsmilli" type="xs:short" />
      <xs:element minOccurs="0" name="logTrtdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="logTrxdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="logTrxno" type="xs:string" />
      <xs:element minOccurs="0" name="logValided" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="logVouchers" nillable="true" type="tns:logVouchersDTO" />
      <xs:element minOccurs="0" name="mticodeDesc" type="xs:string" />
      <xs:element minOccurs="0" name="processingcodeDesc" type="xs:string" />
      <xs:element minOccurs="0" name="reasonDesc" type="xs:string" />
      <xs:element minOccurs="0" name="siteCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="logDetailDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="advantage" type="xs:boolean" />
      <xs:element minOccurs="0" name="amountReturned" type="xs:decimal" />
      <xs:element minOccurs="0" name="familyCode" type="xs:string" />
      <xs:element minOccurs="0" name="familyLevel" type="xs:short" />
      <xs:element name="lineNumber" type="xs:short" />
      <xs:element name="logAudit" type="xs:long" />
      <xs:element minOccurs="0" name="price" type="xs:decimal" />
      <xs:element minOccurs="0" name="productCode" type="xs:string" />
      <xs:element minOccurs="0" name="quantity" type="xs:decimal" />
      <xs:element minOccurs="0" name="total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="logLoyaltyDTO">
    <xs:sequence>
      <xs:element name="advantageId" type="xs:long" />
      <xs:element name="aggregatedQuantity" type="xs:int" />
      <xs:element minOccurs="0" name="amountReturned" type="xs:decimal" />
      <xs:element name="campaignId" type="xs:long" />
      <xs:element name="logAudit" type="xs:long" />
      <xs:element name="logDetailId" type="xs:long" />
      <xs:element name="logLoyaltyId" type="xs:long" />
      <xs:element minOccurs="0" name="loyaltyAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="loyaltyCategory" type="xs:string" />
      <xs:element name="quantityReturned" type="xs:int" />
      <xs:element minOccurs="0" name="totalsKey" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="logPaymentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      <xs:element name="logAudit" type="xs:long" />
      <xs:element name="logPaymentLineNumber" type="xs:int" />
      <xs:element minOccurs="0" name="paymentId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="logVouchersDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="advantageId" type="xs:long" />
      <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="amountType" type="xs:short" />
      <xs:element minOccurs="0" name="campaignCode" type="xs:long" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:string" />
      <xs:element minOccurs="0" name="initDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="listCode" type="xs:string" />
      <xs:element minOccurs="0" name="listType" type="xs:short" />
      <xs:element name="logAudit" type="xs:long" />
      <xs:element minOccurs="0" name="totalsKey" type="xs:string" />
      <xs:element minOccurs="0" name="validityDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="value" type="xs:decimal" />
      <xs:element name="voucherLineNumber" type="xs:int" />
      <xs:element name="voucherType" type="xs:short" />
      <xs:element minOccurs="0" name="vouchertypeId" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateContactability">
    <xs:sequence>
      <xs:element minOccurs="0" name="contactability" type="tns:updateContactabilityDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateContactabilityDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseRequestDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="contactability" type="tns:contactabilityDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="updateContactabilityResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="UpdateContactabilityResponse" type="tns:baseResponseDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getTransactionDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="logAuditId" type="tns:logAuditId" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="logAuditId">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseRequestDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="logAudit" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="getTransactionDetailsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="TransactionDetailsResponse" type="tns:transactionDetailsResponseDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transactionDetailsResponseDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseResponseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="logHistory" type="tns:logHeaderDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="deleteIdentifier">
    <xs:sequence>
      <xs:element minOccurs="0" name="identifierId" type="tns:identifierId" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteIdentifierResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeleteIdentifierResponse" type="tns:baseResponseDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getValidVouchersForCard">
    <xs:sequence>
      <xs:element minOccurs="0" name="identifierId" type="tns:identifierId" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getValidVouchersForCardResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="VoucherCheckResponse" type="tns:voucherCheckResponseDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="voucherCheckResponseDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseResponseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="vouchers" type="tns:voucherChecksDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="voucherChecksDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="voucher" nillable="true" type="tns:voucherCheckDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="voucherCheckDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="amountType" type="xs:short" />
      <xs:element minOccurs="0" name="campaignId" type="xs:decimal" />
      <xs:element minOccurs="0" name="houseHoldId" type="xs:decimal" />
      <xs:element minOccurs="0" name="initDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="messages" type="tns:voucherMessagesDTO" />
      <xs:element minOccurs="0" name="personId" type="xs:decimal" />
      <xs:element minOccurs="0" name="rewardDesc" type="xs:string" />
      <xs:element minOccurs="0" name="rewardId" type="xs:decimal" />
      <xs:element minOccurs="0" name="siteCode" type="xs:string" />
      <xs:element minOccurs="0" name="siteDesc" type="xs:string" />
      <xs:element minOccurs="0" name="totalKey" type="xs:string" />
      <xs:element minOccurs="0" name="totalValue" type="xs:decimal" />
      <xs:element minOccurs="0" name="usedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="validityDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="voucherId" type="xs:string" />
      <xs:element minOccurs="0" name="voucherStatus" type="xs:short" />
      <xs:element minOccurs="0" name="voucherTypeId" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="voucherMessagesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="message" nillable="true" type="tns:voucherMessageDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="voucherMessageDTO">
    <xs:sequence>
      <xs:element name="code" type="xs:int" />
      <xs:element name="flagMacro" type="xs:boolean" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findPersonsByInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="findByInfoId" type="tns:findByInfoId" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findByInfoId">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseRequestDTO">
        <xs:sequence>
          <xs:element name="infoCode" type="xs:string" />
          <xs:element name="infoValue" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="findPersonsByInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="PersonsResponse" type="tns:personsResponseDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personsResponseDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseResponseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="person" nillable="true" type="tns:personDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="createIdentifier">
    <xs:sequence>
      <xs:element minOccurs="0" name="createIdentifierId" type="tns:createIdentifierId" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createIdentifierId">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseRequestDTO">
        <xs:sequence>
          <xs:element name="binId" type="xs:short" />
          <xs:element minOccurs="0" name="identifierCode" type="xs:string" />
          <xs:element name="persontypeId" type="xs:short" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="createIdentifierResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateIdentifierResponse" type="tns:createIdentifierResponseDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createIdentifierResponseDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseResponseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="houseHoldId" type="xs:decimal" />
          <xs:element minOccurs="0" name="identifierCode" type="xs:string" />
          <xs:element minOccurs="0" name="personId" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="getPerson">
    <xs:sequence>
      <xs:element minOccurs="0" name="personId" type="tns:personId" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getPersonResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="PersonResponse" type="tns:personResponseDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personResponseDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseResponseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="person" type="tns:personDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="mergeHouseholds">
    <xs:sequence>
      <xs:element minOccurs="0" name="mergeHouseHoldId" type="tns:mergeHouseHoldId" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mergeHouseHoldId">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseRequestDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="sourceHouseholdId" type="xs:decimal" />
          <xs:element minOccurs="0" name="targetHouseholdId" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="mergeHouseholdsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="MergeHouseholdsResponse" type="tns:baseResponseDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getVersionInfo">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getVersionInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="VersionResponse" type="tns:versionResponseDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="versionResponseDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseResponseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="info" nillable="true" type="tns:keyValue" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="keyValue">
    <xs:sequence>
      <xs:element name="key" type="xs:string" />
      <xs:element name="value" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getTransactionHistoryHeader">
    <xs:sequence>
      <xs:element minOccurs="0" name="transactionSummaryId" type="tns:transactionSummaryId" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transactionSummaryId">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseRequestDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="houseHoldId" type="xs:decimal" />
          <xs:element minOccurs="0" name="identifier" type="xs:string" />
          <xs:element name="daysInPast" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="getTransactionHistoryHeaderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="TransactionSummaryResponse" type="tns:transactionSummaryResponseDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transactionSummaryResponseDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseResponseDTO">
        <xs:sequence>
          <xs:element name="houseHoldId" type="xs:decimal" />
          <xs:element minOccurs="0" name="identifier" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="logHistory" type="tns:transactionSummaryDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="transactionSummaryDTO">
    <xs:sequence>
      <xs:element name="siteCode" type="xs:string" />
      <xs:element name="siteDesc" type="xs:string" />
      <xs:element minOccurs="0" name="reasonDesc" type="xs:string" />
      <xs:element name="mticodeDesc" type="xs:string" />
      <xs:element minOccurs="0" name="personId" type="xs:decimal" />
      <xs:element minOccurs="0" name="idCode" type="xs:string" />
      <xs:element name="logTrxdate" type="xs:dateTime" />
      <xs:element name="logAudit" type="xs:long" />
      <xs:element name="logTrxno" type="xs:string" />
      <xs:element minOccurs="0" name="logOpe" type="xs:string" />
      <xs:element minOccurs="0" name="logAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="earn" type="xs:decimal" />
      <xs:element minOccurs="0" name="burn" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateIdentifier">
    <xs:sequence>
      <xs:element minOccurs="0" name="identifier" type="tns:updateIdentifierDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateIdentifierDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseRequestDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="identifier" type="tns:identifierDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="updateIdentifierResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="UpdateIdentifierResponse" type="tns:baseResponseDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="renameIdentifier">
    <xs:sequence>
      <xs:element minOccurs="0" name="renameIdentifierId" type="tns:renameIdentifierId" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="renameIdentifierId">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseRequestDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="newIdCode" type="xs:string" />
          <xs:element minOccurs="0" name="oldIdCode" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="renameIdentifierResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="RenameIdentifierResponse" type="tns:baseResponseDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateUserAccess">
    <xs:sequence>
      <xs:element minOccurs="0" name="userAccessData" type="tns:updateUserAccessDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateUserAccessDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseRequestDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="userData" type="tns:userAccessDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="userAccessDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="accessProfile" type="xs:string" />
      <xs:element minOccurs="0" name="languageCode" type="xs:string" />
      <xs:element minOccurs="0" name="mainStoreCode" type="xs:string" />
      <xs:element name="profileId" type="xs:int" />
      <xs:element minOccurs="0" name="storeAccessList" type="tns:userSiteDTO" />
      <xs:element minOccurs="0" name="userCode" type="xs:string" />
      <xs:element minOccurs="0" name="userName" type="xs:string" />
      <xs:element name="userStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userSiteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="siteCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateUserAccessResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="UpdateUserAccessResponse" type="tns:baseResponseDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findHouseholdsByInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="findByInfoId" type="tns:findByInfoId" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findHouseholdsByInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="HouseHoldsResponse" type="tns:houseHoldsResponseDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="houseHoldsResponseDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseResponseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="houseHold" nillable="true" type="tns:houseHoldDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="findIdentifiersByInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="findByInfoId" type="tns:findByInfoId" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findIdentifiersByInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdentifiersResponse" type="tns:identifiersResponseDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="identifiersResponseDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseResponseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="identifier" nillable="true" type="tns:identifierDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>